body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.filter-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    text-align: left;
}

.filter-button.selecionado {
    background-color: #333;
    color: #fff;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    width: calc(33.333% - 40px);
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.item img {
    max-width: 100%;
    height: auto;
}

.item h3 {
    margin-top: 10px;
    font-size: 18px;
}
